include ./ga.jade
include ./copyright.jade

doctype
html
  head
    meta(charset='utf-8')
    meta(name='description' content= question)
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    base(target='_blank' href='../../')
    link(rel='icon' type='image/x-ico' href='./images/favicon.ico')
    link(rel='stylesheet' type='text/css' href='css/tomorrow.css')
    link(rel='stylesheet' type='text/css' href='css/question.css')
    link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans:b|Open+Sans:i')

    +ga('UA-63581862-3')
  body.light
    header
      h1= question
    ul.tags
      each tag in tags
        -
          var list = ['9', 'A', 'B', 'C', 'D', 'E'];
          var color = [1,2,3,4,5,6];
          var str = 'background-color: #' + color.map(function() { return list[Math.floor(Math.random() * 6)]; }).join('');

        li(style="#{str}")= tag
    main
      != contents
    aside
      nav
        ul
          //- li.theme Night
          li
            a.index(href='archive.html' target='_self') List
          li
            a.index(href='index.html' target='_self') Home
    +copyright
    //- script(type='text/javascript' src='js/switch-theme.js')
    script(type='text/javascript' src='js/anchor.js' async)
