@import "vars.css";

.calendar {
  max-width: 24.5rem;
  margin: 0 auto;

  font-size: 1rem;
  line-height: 1.5;
  color: var(--light-text);
}

.calendar ul,
.calendar li {
  margin: 0;
  padding: 0;
}

.calendar-header {
  color: var(--light-text-s);
}

.calendar-ctrl {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.calendar-ctrl li,
.calendar-cell {
  text-align: center;
}

.calendar-ctrl .prev {
  float: left;
}

.calendar-ctrl .prev::before {
  transform: rotate(225deg);
}

.calendar-ctrl .next::before {
  transform: rotate(45deg);
}

.calendar-ctrl .next {
  float: right;
}

.calendar-ctrl .prev,
.calendar-ctrl .next {
  width: 3.5rem;
  cursor: pointer;
}

.calendar-ctrl .prev::before,
.calendar-ctrl .next::before {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-width: 3px 3px 0 0;
  border-style: solid;
  border-color: var(--light-dark);
  content: '';

  transition: all 0.2s ease-in-out;
}

.calendar-ctrl .prev:hover::before,
.calendar-ctrl .next:hover::before {
  border-color: var(--light-special);

  transition: all 0.2s ease-in-out;
}

.calendar-ctrl .current {
  margin: 0 3.5rem;
  font-weight: bold;
}

.calendar-cell {
  width: 3.5rem;
  height: 3.5rem;
}

.calendar-day {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;

  line-height: 2.5rem;

  color: var(--light-text-s);
  border-radius: 100%;

  transition: all 0.2s ease-in-out;
}

.calendar-day.valid {
  color: inherit;
}

.calendar-day.active {
  color: var(--dark-text);
  background-color: color(var(--light-special) alpha(50%));

  transition: all 0.2s ease-in-out;
}

.calendar-day.active:hover {
  background-color: var(--light-special);

  transition: all 0.2s ease-in-out;
}

.calendar-day.now {
  border: 1px solid var(--light-special);
}

.calendar-day a {
  color: inherit;
  text-decoration: none;
}
