@import "vars.css";

html {
  font-size: 16px;
  font-size-adjust: none;
}

@media (--m) {
  html {
    font-size: 14px;
  }
}

@media (--s) {
  html {
    font-size: 12px;
  }
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--sans);
}

header {
  text-align: center;
  overflow: hidden;
}

main {
  max-width: 40rem;
  margin: 2rem auto;
}

@media (--m) {
  main {
    padding: 0 2rem;
  }
}

h1 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

h2 {
  font-size: 1.8rem;
  margin: 1.8rem 0 1.5rem;
}

h3 {
  font-size: 1.5rem;
  margin: 1.5rem 0 1rem;
}

ul, ol, dl, pre, p, blockquote {
  margin: 0.7em 0;
}

li, dt, dd {
  margin: 0.5rem 0;
}

a, a:hover {
  transition: all 0.2s ease-in-out;
}

a {
  color: inherit;
}

a:hover {
  color: color(var(--light-text) blackness(20%));
}
