@import "global.css";
@import "aside-button.css";

body {
  color: var(--light-text);
  background-color: var(--light-bg);
}

li {
  list-style: none;
}

header {
  color: var(--dark-text);
  background-color: var(--light-dark);
}

main {
  margin-top: 4rem;
}

.index {
  font-family: var(--serif);
}

.index:hover {
  color: color(var(--light-text) blackness(50%));
}

.index, .index:hover {
  transition: all 0.2s ease-in-out;
}
