:root {
  --serif: Cambria, Palatino Linotype, Palatino, Liberation Serif, MS PMincho, STSong, SimSun, serif;
  --sans: Trebuchet MS, Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
  --mono: Menlo, Monaco, Consolas, lucida console, Courier New, monospace;

  --light-bg: #FAFAFA;
  --light-code: #F5F5F5;
  --light-dark: #303030;
  --light-dark-s: #424242;
  --light-text: color(#000 alpha(87%));
  --light-text-s: color(#000 alpha(54%));
  --light-text-hint: color(#000 alpha(12%));
  --light-border: var(--light-text-hint);
  --light-special: #009688;

  --dark-bg: #303030;
  --dark-code: #424242;
  --dark-light: #212121;
  --dark-text: color(#fff alpha(95%));
  --dark-text-s: color(#fff alpha(70%));
  --dark-text-hint: color(#fff alpha(12%));
  --dark-border: var(--dark-text-hint);
}

@custom-media --m (max-width: 768px);

@custom-media --s (max-width: 450px);
