include ./templates/ga.jade
include ./templates/copyright.jade

doctype
html
  head
    meta(charset='utf-8')
    title Ask Daily - Archive
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon' type='image/x-ico' href='./images/favicon.ico')
    link(rel='stylesheet' type='text/css' href='./css/archive.css')
    link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans')

    +ga('UA-63581862-3')
  body
    header
      h1 Archive
    main
      dl
        each item in data
          dt.range
            h3= item.questions[0].range
            each q in item.questions
              dd
                a.link(href='#{q.link}')= q.day
                span #{q.question}
    aside
      nav
        ul
          li
            a.index(href='./index.html') Home
    +copyright
