include ./templates/ga.jade

doctype
html
  head
    meta(charset='utf-8')
    title Ask Daily
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' type='text/css' href='./css/index.css')

    +ga('UA-63581862-3')
  body
    header
      h1 Ask Daily
    main
      calendar(:data-qs=data)
    aside
      nav
        ul
          li
            a.index(href='./archive.html') Archive
    script(src='./js/calendar.js')
